/**
* css reset
**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

img{
    width:100%;
}

label{
    display: block;
}

input{
    width:100%;
    padding: 8px;
}

/** clearfix **/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.eot');
    src: url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.woff2') format('woff2'),
         url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.woff') format('woff'),
         url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.eot');
    src: url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.woff') format('woff'),
         url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/clearsans_regular_macroman/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal; 
}

body{
	font-family: 'clear_sansregular';
    font-size: 1.6rem;
    color: #fff;
    background-color: #262f3b;
    position: relative;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'clear_sansbold';
    margin: 20px auto;
}

.float-left{
    float:left;
}
.float-right{
    float:right;
}

.width-20{
    width: 17%;
    margin: 1% 1%;
}

.width-100{
    width: 100%;
}

*[class^="width-"] {
    padding: 5px !important;
}

.center-text{
    text-align:center;
}

.right-text{
    text-align:right;
}

.left-text{
    text-align:left;
}

.padding-10{
    padding:10px;
}

.thumbnail-holder{
    position: relative;
    background:#fff;
    color: #222;
    text-align: center;
    box-shadow: 0 0px 10px 0px rgba(0,0,0,.7);
}

.edit,.remove{
    font-size: 17px;
    position: absolute;
    cursor: pointer;
    background: rgba(0,0,0,.9);
    color: #fff;
    height: 20px;
    padding: 4px;
}
.edit{
    right: 28px;
    top: 0px;
}
.remove{
    width:20px;
    top: 0px;
    right: 0px;
}

.button{
    padding: .5em;
    border: oldlace;
    cursor: pointer;
}

/** modal **/
.modal,.alert{
    position: absolute;
    background: #fff;
    top: 10px;
    left: 35%;
    width: 30%;
    color: #222;
    z-index: 9999999999;
    /* display: none; */
}

.modal-background{
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: rgba(41, 38, 38,.6);
}

.modal > *,.alert > *{
    padding: 10px;
}

.modal > .m-title{
    border-bottom: 1px solid #ddd;
}

.modal > .m-foot > button,
.alert > .alert-foot > button{
    margin-left: 10px;
}

.form-group{
    font-size: 16px;
}

.hide{
    display: none;
}

.show{
    display: block;
}